* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
}

body {
  margin-bottom: 40px; /*this is doing nothing helpful right now*/
}

.container {
  display: -webkit-flex;
  display: flex;
  background-color: rgb(020, 030, 030);
  position: relative;
  max-width: 460px;
  margin: auto;
}

/**************************
CALCULATOR DISPLAY
**************************/

section {
  position: relative; /*what does this do here?*/
}

#display {
  border: 1px solid #fff;
  width: 460px;
  margin-top: 6rem;
  height: 100px;
  text-align: right;
  font-family: 'Droid Sans Mono', monospace;
}

#answer {
  margin: 5px 10px 0px 10px;
  font-size: 3rem;
}

#history {
  margin: 0px 10px;
  font-size: 1rem;
}

/**************************
CALCULATOR BUTTONS
**************************/

#calculator {
  display: inline-block;
  position: absolute;
  width: auto;
  height: auto;
  margin-top: 14rem;
}

button {
  font-size: 4rem;
  font-weight: bold;
  background-color: inherit;
  margin: 5px;
  width: 100px;
}

button:hover {
  border-color: rgb(020, 030, 030);
  background-color: rgb(23, 223, 100);
  margin:
}

button:active {
  transform: translate(0px, 3px);
  box-shadow: none;
  border-color: rgb(23, 223, 100); /*this doesn't do anything*/
}

#on, #equals {
  width: 215px;
}

/*this section isn't working one bit*/
#on, #clear {
  button:hover {
    background-color: #f6d02b;
  }
}

/**************************
FOOTER
**************************/

footer {
  bottom: 15px;
  text-align: center;
  width: 460px;
  margin: auto;
  position: fixed; /*I don't want it overlapping when the page is small - how?*/
  font-family: 'Droid Sans Mono', monospace;
}
